.social {
  text-align: center;

  @media screen and (min-width: 1200px) {
  margin-right: 93px;
  text-align: left;
  }

  &-text {
    margin-bottom: 20px;
    padding: 0;
    font-weight: var(--bold-font);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-bg-color);
  }
}

.social-mob-style {
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}
